<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLdxgLTHDaplz2rUydb59ExkxiBNZyxFY</string>
	<key>GCM_SENDER_ID</key>
	<string>821052652843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checklister.checklister</string>
	<key>PROJECT_ID</key>
	<string>checklister-firebase-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>checklister-firebase-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821052652843:ios:ab8434cbe569e0d463d96e</string>
</dict>
</plist>